.input:focus {
    border: 3px solid #D1D1D1;
    outline: #D1D1D1;
}

.input {
    width: 372px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}

.superInput {
    padding: 5px;
}

.errorInput {
    border: 1px solid red;
}

.errorInput:focus {
    outline: red;
    border: 3px solid red;
}

.error {
    color: red;
}